@import url('https://fonts.googleapis.com/css?family=Roboto');
$font-family: 'Roboto',
sans-serif;
$font-size: 16px;
body {
    font-family: $font-family;
    font-size: $font-size;
    color: #333;
}

.nobr {
    white-space: nowrap;
}

a {
    text-decoration: underline;
    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
    }
}

header {
    h1 {
        font-size: 20px;
        margin: 40px 0 60px;
        line-height: 1.5em;
    }
    h1>div {
        display: inline-block;
        margin: 0 10px;
    }
    input {
        text-align: center;
        width: 100px;
        font-family: $font-family;
        font-size: $font-size;
    }
    button {
        font-size: 16px;
    }
}

.items {
    &__deck {
        background-color: #f2f2f2;
        padding: 10px;
    }
    &__deck2 {
        padding: 0 15px 10px;
    }
    &>div {
        border-bottom: solid 1px;
        cursor: pointer;
        &:last-of-type {
            border-bottom: none
        }
    }
    &__answered.items__deck {
        background-color: #6fcf97;
    }
    &__hidden,
    &__shown {
        overflow: hidden;
        transition: all .4s linear;
        height: 0;
        font-size: 14px;
    }
    &__shown {
        height: 100%;
        padding: 30px 0 20px;
    }
    &__up,
    &__down,
    &__rating-up,
    &__rating-down,
    &__score {
        margin: 5px;
        display: inline-block;
        cursor: pointer;
        font-size: 30px;
        vertical-align: middle;
        color: #555
    }
    &__score {
        font-size: 20px;
        &-wrap {
            margin-right: 20px;
            display: inline-block;
            background-color: rgba(0, 0, 0, 0.05);
            border-radius: 5px;
            padding: 0 15px;
        }
    }
    &__rating-up {
        font-size: 22px;
    }
    &__info {
        padding: 20px;
    }
}

//========================
// PHONE FIXES - ex-XS & SM
//========================
@media (min-width: 320px) and (max-width: 767px) {
    .items {
        &__deck {
            padding: 20px 10px;
        }
        &__score-wrap {
            float: left;
        }
        &__info {
            margin-bottom: 10px;
        }
    }
}